[Desktop Entry]
Type=Application
Name=LazyTV
GenericName=TV Remote
Comment=Control your LG NetCast TV from your computer
Exec=lazytv
Icon=lazytv
Terminal=false
Categories=AudioVideo;
Keywords=LG;TV;Remote;NetCast;LazyTV;
StartupNotify=true
StartupWMClass=lazytv