[Desktop Entry]
Type=Application
Name=LgRemote
GenericName=TV Remote
Comment=Control your LG NetCast TV from your computer
Exec=lgremote
Icon=lgremote
Terminal=false
Categories=AudioVideo;
Keywords=LG;TV;Remote;NetCast;Pult;телевизор;пульт;
StartupNotify=true
StartupWMClass=lgremote